{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for plant in plants %}
                <div><a href="/show?id={{ plant.id }}"><img src="{{ plant.picture }}" alt="{{ plant.name }}"></a></div>
            {% endfor %}
        </div>
    </div>      
{% endblock %}
